/** {
    margin:0;
}*/
body,
html {
margin:0;
padding:0;
color:#000;
background:#a7a09a;
}
.container {
  width: 750px;
  margin: 0 auto;
  background-color: #9999CC;
}
.header {
  background-color: #CCCCCC;
  padding: 5px;
}
.navigation {
  background-color: #CC9999;
  padding: 5px;
}
.navigation ul {
  margin:0;
  padding:0;
  list-style:none;
}
.navigation li {
  display:inline;
  margin:0;
  padding:0;
}
.column1 {
  width: 60%;
  float: left;
  background-color: #99CC99;
  padding: 10px;
}
.column2 {
  width: auto;
  float: left;
  background-color: #9999CC;
  padding: 10px;
}
.footer {
  clear:both;
}
